body {overflow-X: hidden;}
.container {width: 1422px; height: inherit; margin: 0 auto;}
#about {width: 100%; background: #150045;}
#mySelf {width: 100%; background: #150045;}
#siteTitle {width: 100%; background: #150045;}

/* header페이지 */
#header {
    width: 100%; height: 100vh;
    background: #150045;
    overflow: hidden;
}
.hdName h2 {
    font-size: 8.2vw;
    margin: -3.2vw 0 0 13vw;
    color: #150045;
    text-shadow: -2px 0 #DC6966, 0 2px #DC6966, 2px 0 #DC6966, 0 -2px #DC6966;
    font-family: "GT Sectra Display Bold"; 
}
.hdMenu {
    width: 83px; height: 73px;
    background: #ED6062;
    position: absolute;
    left: 0; top: 144px;
    z-index: 100;
}
.hdMenu a {}
.hdMenu a span {
    position: absolute;
    left: 40px; top: 29px;
    transform: rotate(-90deg);
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Arial';
}
.header_item {
    margin-top: 17.5vw;
    display: inline-flex;
    justify-content: left;
    align-items: center; 
    color: #fff;
    z-index: -100;
    width: 100%; height: 0.15vw;
    background: #ED6062;
}
.header_item .nav_link {
    padding: 20vh 0;
    margin-right: 15rem;
    margin-top: 0;
    display: inline-block;
    position: relative;
}
.header_item .nav_link:nth-child(1) {
    margin-left: 5vw;
}
.header_item .nav_link a {
    font-size: 10.2vw;
    font-family: "GT Sectra Display Bold";
    color: #fff;
} 
.header_item .nav_link span {
    font-size: 0.73vw;
    font-family: 'Arsenal', sans-serif;
    display: inline-block;
    position: absolute;
    left: -2.5vw;
    top: 15.5vw;

}


/* about */
#about {
    width: 100%; height: 100vh;
    background: #150045;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.about {
    margin-top: 14vw;
}
.about h2 {
    color: #fff;
    text-align: center;
    font-family: "GT Sectra Display Bold";
    font-size: 3.8vw;
    line-height: 1.4;
}
.about h2 span {
    font-family: 'Cafe24Dangdanghae';
}
.about h2 span em {
    color: #ABE1FA;
}
.about p {
    margin-top: 3.5vw;
    text-align: center;
    color: #fff;
    font-family: 'SDKukdetopokki-Lt';
    line-height: 1.5;
    font-size: 0.8vw;
}

/* mySelf */
.mySelf {
    width: 100%; height: 100vh;
    background: #150045;
    position: relative;
}
.mySelf .box {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 12vw; height: 100vh;
    background: #ED6062;
}
.mySelf .img {
    position: relative;
}
.mySelf .img img {
    position: absolute;
    left: 18.5vw; top: 6vw;
    width: 37vw; height: 37vw;
    background-image: url(../img/about01.png) nowrap center center;
}
.mySelf .img p {
    position: absolute;
    left: 3vw; top: 25vw;
    font-size: 6vw;
    color: #fff;
    font-family: "GT Sectra Display Bold";
}
.mySelf .img p::before {
    content: '';
    position: absolute;
    left: -4vw; top: 4vw;
    width: 1.8vw; height: 0.2vw;
    background: #fff;
}

.mySelf .box .box-scroll {}
.mySelf .box .box-scroll span {
    position: absolute;
    bottom: 2%; left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}
.mySelf .box .box-scroll span::before {
    position: absolute;
    top: 0.6vw; left: 50%;
    content: '';
    width: 0.3vw;
    height: 0.3vw;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    animation: scroll 2s infinite;
    box-sizing: border-box;
}

@keyframes scroll {
    0% {transform: translate(0, 0); opacity: 0;}
    40% {opacity: 1;}
    80% {transform: translate(0, 20px); opacity: 0;}
    100% {opacity: 0;}
}

/* siteTitle */
.siteTitle {
    width: 100%; height: 130vh;
    background: #150045;
    display: flex;
    justify-content: center;
    align-items: center;
}
.siteTitle .left {
    flex: 0 0 20%;
    margin-top: 2vw;
    margin-left: -6vw;
}
.siteTitle .left h2 {
    color: #fff;
    font-size: 8.2vw;
    font-family: "GT Sectra Display Bold";
    padding-bottom: 3vw;
}
.siteTitle .left ul {}
.siteTitle .left ul li {
    color: #8CB8FA;
    font-size: 1.6vw;
    font-family: Arial;
    padding: 0.5vw 0;
}
.siteTitle .left ul li span {
    color: #fff;
    font-size: 0.7vw;
    padding-right: 1vw;
}

.siteTitle .right {
    flex: 0 0 60%;
}
.siteTitle .right img {
    margin-top: 5vw;
    margin-left: 3vw;
    width: 100%; height: 100%;
}

/* siteList */
#siteList {
    width: 100%; height: 462vh;
    background: #150045;
    color: #fff;
    position: relative;
}
.siteList1 .Num {
    position: absolute;
    left: -1.6vw; top: -10vw;
    color: #fff;
    opacity: 0.3;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 25vw;
    z-index: 1000;
}
#siteList .Num2 {
    position: absolute;
    right: -1.2vw; top: 40vw;
    color: #fff;
    opacity: 0.3;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 25vw;
}
#siteList .Num3 {
    position: absolute;
    left: -1.6vw; top: 90vw;
    color: #fff;
    opacity: 0.3;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 25vw;
}
#siteList .Num4 {
    position: absolute;
    right: -0.3vw; top: 140vw;
    color: #fff;
    opacity: 0.3;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 25vw;
}
#siteList .Box {
    position: absolute;
    left: 50%; top: 0%;
    transform: translate(-50%, 0%);
    width: 12vw; height: 462vh;
    background: #ED6062;
}
.siteList1 {
    display: flex;
    justify-content: space-between;
}
.siteList1 .container {
    height: 100vh; width: 100%;
    background: #150045;
    display: flex;
    justify-content: center;
    align-items: center;
}
.siteList1 .left {margin-top: 5vw; flex: 1 1 30%;}
.siteList1 .left .front {position: relative; z-index: 2000; margin-left: 11.5vw;}
.siteList1 .left .front img {
    margin: -3vw 0 0 1vw;
    width: 47vw; height: 30vw;
}
.siteList1 .left .front h3 {
    color: #fff;
    position: absolute;
    left: -2vw; bottom: 0;
    font-size: 5vw;
    font-family: "GT Sectra Display Bold";
    padding: 0 0 1.3vw 7vw;
}
.siteList1 .left .front h3::before {
    content: '';
    position: absolute;
    left: 2.1vw; top: 3.5vw;
    width: 1.8vw; height: 0.2vw;
    background: #fff;
}
.siteList1 .rigth {
    flex: 1 1 30%;
    margin-top: -15.5vw;
    height: 10vw;
    padding-left: 4vw;
}

/* siteList2 */
.siteList2 {margin-top: 10vw; }
.siteList2 .container{
    height: 100vh; width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    
}
.siteList2 .right {
    flex: 1 1 30%;
    text-align: left;
    margin-right: -0.5vw;
}
.siteList2 .right .front {
    position: relative; margin-left: -17.3vw;
}
.siteList2 .right .front img {
    width: 47vw; height: 30vw;
    padding-left: 2.5vw;
}
.siteList2 .right .front h3 {
    color: #fff;
    position: absolute;
    right: 9vw; bottom: 0;
    font-size: 5vw;
    font-family: "GT Sectra Display Bold";
    padding: 0 4vw 1.3vw 0;
}
.siteList2 .right .front h3::before {
    content: '';
    position: absolute;
    right: -0.1vw; top: 3.5vw;
    width: 1.8vw; height: 0.2vw;
    background: #fff;
}
.siteList2 .left {
    flex: 1 1 30%;
    margin-top: -2.5vw;
    margin-left: 11.5vw;
}

.left .lTitle {
    font-size: 1.6vw;
    padding-top: 1vw;
    font-family: 'SDKukdetopokki-Lt';
}
.left .lList {display: flex;}
.left .lList li {
    width: 9.8vw; height: 2.5vw;
    line-height: 3;
    margin: 0 1vw 1.3vw 0;
    font-size: 0.9vw;
    text-align: center;
    border: 1px solid #ED6062;
    border-radius: 0.1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.left .lTitle p {
    font-size: 1.5vw;
    padding-bottom: 2vw;
    font-family: 'SDKukdetopokki-Lt';
}
.left .lLink {
    margin-top: 1.4vw;
}
.left .lLink a:nth-child(1):before {
    content: "";
    width: 2px; height: 50px;
    background: #ED6062;
    position: absolute;
    left: 0; top: -1.15vw;
}
.left .lLink a {
    color: #ED6062;
    font-size: 0.4vw;
    padding: 0 0 0 60px;
    font-family: Arial;
    position: relative;
}


/* siteList3 */
.siteList3 {margin-top: 10vw;}
.siteList3 .container {
    height: 100vh; width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.siteList3 .left {
    margin-top: 5vw;
    flex: 1 1 30%;
}
.siteList3 .left .front {position: relative; z-index: 2000; margin-left: 11.5vw;}
.siteList3 .left .front img {
    margin: -3vw 0 0 1vw;
    width: 47vw; height: 30vw;
}
.siteList3 .left .front h3 {
    color: #fff;
    position: absolute;
    left: 0; bottom: 0;
    font-size: 5vw;
    font-family: "GT Sectra Display Bold";
    padding: 0 0 1.3vw 7vw;
}
.siteList3 .left .front h3::before {
    content: '';
    position: absolute;
    left: 2.1vw; top: 3.5vw;
    width: 1.8vw; height: 0.2vw;
    background: #fff;
}
.siteList3 .rigth {
    flex: 1 1 30%;
    margin-top: -15.5vw;
    height: 10vw;
    padding-left: 4vw;
}

/* siteList4 */
.siteList4 {margin-top: 10vw;}
.siteList4 .container{
    height: 100vh; width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    
}
.siteList4 .right {
    flex: 1 1 30%;
    text-align: left;
    margin-right: -0.5vw;
}
.siteList4 .right .front {
    position: relative; margin-left: -17.3vw;
}
.siteList4 .right .front img {
    width: 47vw; height: 30vw;
    padding-left: 2.5vw;
}
.siteList4 .right .front h3 {
    color: #fff;
    position: absolute;
    right: 9vw; bottom: 0;
    font-size: 5vw;
    font-family: "GT Sectra Display Bold";
    padding: 0 4vw 1.3vw 0;
}
.siteList4 .right .front h3::before {
    content: '';
    position: absolute;
    right: -0.1vw; top: 3.5vw;
    width: 1.8vw; height: 0.2vw;
    background: #fff;
}
.siteList4 .left {
    flex: 1 1 30%;
    margin-top: -2.5vw;
    margin-left: 11.5vw;
}


.siteList4 .side1 {
    flex: 0 0 30%;
    position: absolute;
    right: 0; bottom: 0;
}
.siteList4 .side1 a {
    float: left;
    padding: 0 30px 30px 0;
    color: #DC6966;
    position: relative;
    font-weight: 500;
    font-family: 'Poppins';
}
.siteList4 .side1 a:nth-child(1) {
    color: #150045;
    text-shadow: -1px 0 #DC6966, 0 1px #DC6966, 1px 0 #DC6966, 0 -1px #DC6966;
    
}
.siteList4 .side1 a:nth-child(1)::before {
    content: '01';
    color: #fff;
    font-size: 0.2vw;
    text-shadow: 0 0 #fff;
    font-weight: 100;
    position: absolute;
    left: -10px; top: -10px;
}
.siteList4 .side1 a:nth-child(2)::before {
    content: '02';
    color: #fff;
    font-size: 0.2vw;
    text-shadow: 0 0 #fff;
    font-weight: 100;
    position: absolute;
    left: -10px; top: -10px;
}
.siteList4 .side1 a:nth-child(3)::before {
    content: '03';
    color: #fff;
    font-size: 0.2vw;
    text-shadow: 0 0 #fff;
    font-weight: 100;
    position: absolute;
    left: -10px; top: -10px;
}

.rigth .rTitle {
    font-size: 1.5vw;
    padding-bottom: 2vw;
    font-family: 'SDKukdetopokki-Lt';
}
.rigth .rList {display: flex;}
.rigth .rList li {
    width: 9.8vw; height: 2.5vw;
    line-height: 3;
    margin: 0 1vw 1.3vw 0;
    font-size: 0.9vw;
    text-align: center;
    border: 1px solid #ED6062;
    border-radius: 0.1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.rigth .rLink {
    margin-top: 1.4vw;
}
.rigth .rLink a:nth-child(1):before {
    content: "";
    width: 0.15vw; height: 3vw;
    background: #ED6062;
    position: absolute;
    left: 0; top: -1.15vw;
}
.rigth .rLink a {
    color: #ED6062;
    font-size: 0.4vw;
    padding: 0 0 0 4vw;
    font-family: Arial;
    position: relative;
}

/* aniTitle */
#aniTitle {width: 100%; height: 100vh; background: #ED6062;}
.aniTitle { width: 100%; height: 100vh; background: #ED6062; display: flex; justify-content: center; align-items: center;}
.aniTitle .left { flex: 0 0 40%; margin-top: 2vw; margin-left: 10vw; z-index: 2; }
.aniTitle .left h2 { color: #fff; font-size: 8.2vw; font-family: "GT Sectra Display Bold"; padding-bottom: 3vw; }
.aniTitle .left ul {}
.aniTitle .left ul li { color: #463C8C; font-size: 1.6vw; font-family: Arial; font-weight: bold; padding: 0.5vw 0;}
.aniTitle .left ul li span { color: #fff; font-size: 0.7vw; padding-right: 1vw; font-weight: black;}
.aniTitle .right { flex: 0 0 60%; z-index: 1;}
.aniTitle .right img { margin-top: 5vw; margin-left: -10vw; width: 100%; height: 100%;}

/* aniList */
#aniList {width: 100%; background: #150045;}
.anitxt {}
.anitxt h2 {
    text-align: left;
    font-size: 8.2vw;
    padding-top: 12vw;
    color: #150045;
    text-shadow: -2px 0 #DC6966, 0 2px #DC6966, 2px 0 #DC6966, 0 -2px #DC6966;
    font-family: "GT Sectra Display Bold"; 
}
.anitxt ul {text-align: center; margin-top: 10vw;}
.anitxt ul li {
    line-height: 1.8;
    font-size: 1.2vw;
    color: #fff;
    font-family: "GT Sectra Display Bold"; 
}

.aniList {
    margin-top: 12vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.aniList > div {
    width: 420px; height: 839px;
    background: #cccccc;
    margin: 0 83px 122px 0;
}
.aniList > div:nth-child(2),
.aniList > div:nth-child(5),
.aniList > div:nth-child(8) {margin-top: 110px;}
.aniList > div:last-child {margin-bottom: 20vw;}

/* effTitle */
#effTitle {width: 100%; height: 100vh; background: #6695DC;}
.effTitle { width: 100%; height: 100vh; background: #6695DC; display: flex; justify-content: center; align-items: center;}
.effTitle .left { flex: 0 0 40%; margin-top: 2vw;  z-index: 2; padding-left: 10vw; }
.effTitle .left h2 { color: #fff; font-size: 8.2vw; font-family: "GT Sectra Display Bold"; padding-bottom: 3vw; }
.effTitle .left ul {}
.effTitle .left ul li { color: #DC6966; font-size: 1.6vw; font-family: Arial; font-weight: bold; padding: 0.5vw 0;}
.effTitle .left ul li span { color: #fff; font-size: 0.7vw; padding-right: 1vw; font-weight: black;}
.effTitle .right { flex: 0 0 60%; z-index: 1; padding-left: 10vw;}
.effTitle .right img { margin-top: 5vw; margin-left: -10vw; width: 100%; height: 100%;}