/* 레이아웃 */
#header {width: 100%; height: 75vw; background: #150045; overflow: hidden; user-select: none;}
#contents {width: 100%;}
#about {width: 100%; height: 75vw; background: #150045; display: flex; justify-content: center; align-items: center;}
#aboutMe {width: 100%; height: 75vw; background: #150045; position: relative;}

/* 컨테이너 */
.container {width: 100%; margin: 0 auto; }

/* 헤더영역 */
#header .hdName h2 .text {
    cursor: pointer;
    -webkit-text-stroke-color: #DC6966;
    -webkit-text-stroke-width: 0.02em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    transition: background-size .5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
}
#header .hdName h2 .Portfolio {
    background-image: linear-gradient(180deg, #DC6966 0%, #DC6966 50%, transparent 50.1%);
    background-position: 100% 0%;
    background-size: 100% 0%;
}
#header .hdName h2 .Portfolio:hover {
    background-size: 100% 200%;
}
.hdName h2 {
    font-size: 8.2vw;
    margin: -3.2vw 0 0 6vw;
    color: #150045;
    /* text-shadow: -2px 0 #DC6966, 0 2px #DC6966, 2px 0 #DC6966, 0 -2px #DC6966; */
    font-family: "GT Sectra Display Bold"; 
}
.nav {
    width: 83px; height: 73px;
    /* width: 4.7639vw; height: 4.0694vw; */
    background: #ED6062;
    position: absolute;
    left: 0; top: 10vw;
    z-index: 100;
}
.nav a {
    color: #fff;
    font-size: 0.6vw;
}
.nav a span {
    position: absolute;
    left: 50%; top: 38%;
    transform: rotate(-90deg);
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Arial';
}
.header_item {
    margin-top: 17.5vw;
    display: flex;
    justify-content: left;
    align-items: center; 
    color: #fff;
    z-index: -100;
    width: 100%; height: 0.3vw;
    background: #ED6062;
}
.header_item .nav_link {
    white-space: nowrap;
    display: flex;
    /* flex-wrap: nowrap; */
    cursor: pointer;
    width: 100%;
    margin-top: 0;
}
.header_item .nav_link:nth-child(1) {
    margin-left: 5vw;
}
.header_item .nav_link a {
    font-size: 10.2vw;
    font-family: "GT Sectra Display Bold";
    color: #fff;
    position: relative;
} 
.header_item .nav_link a .num {
    font-size: 1vw;
    font-family: 'Arsenal', sans-serif;
    display: inline-block;
    
    position: absolute;
    left: -2.5vw;
    top: 5.2vw
}

/* 헤더 오버 효과 */
.header_item .nav_link a .text {
    cursor: pointer;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 0.02em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    transition: background-size .5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
    margin-right: 15vw;
}
.header_item .nav_link a .about {
    background-image: linear-gradient(180deg, #fff 0%, #fff 50%, transparent 50.1%);
    background-position: 100% 0%;
    background-size: 100% 200%;
}
.header_item .nav_link a .about:hover {
    background-size: 100% 0%;
}
.header_item .nav_link a .site {
    background-image: linear-gradient(180deg, #fff 0%, #fff 50%, transparent 50.1%);
    background-position: 100% 0%;
    background-size: 100% 200%;
}
.header_item .nav_link a .site:hover {
    background-size: 100% 0%;
}
.header_item .nav_link a .ani {
    background-image: linear-gradient(180deg, #fff 0%, #fff 50%, transparent 50.1%);
    background-position: 100% 0%;
    background-size: 100% 200%;
}
.header_item .nav_link a .ani:hover {
    background-size: 100% 0%;
}
.header_item .nav_link a .effect {
    background-image: linear-gradient(180deg, #fff 0%, #fff 50%, transparent 50.1%);
    background-position: 100% 0%;
    background-size: 100% 200%;
}
.header_item .nav_link a .effect:hover {
    background-size: 100% 0%;
}
.header_item .nav_link a .react {
    background-image: linear-gradient(180deg, #fff 0%, #fff 50%, transparent 50.1%);
    background-position: 100% 0%;
    background-size: 100% 200%;
}
.header_item .nav_link a .react:hover {
    background-size: 100% 0%;
}

/* about */
.about {}
.about h2 {
    color: #fff;
    text-align: center;
    font-family: "GT Sectra Display Bold";
    font-size: 3.8vw;
    line-height: 1.4;
}
.about h2 span {
    font-family: 'Cafe24Dangdanghae';
}
.about h2 span em {
    color: #ABE1FA;
}
.about ul {
    margin-top: 3.5vw;
    
}
.about ul li {
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: 'SDKukdetopokki-Lt';
    line-height: 1.5;
    font-size: 0.8vw;
}

/* aboutMe */
.aboutMe {
    width: 100%; height: inherit;
}
.aboutMe .centerBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutMe .centerBox .box {
    width: 12vw; height: 75vw;
    background: #ED6062;
}

.aboutMe .img-text p {
    position: absolute;
    left: 23.9%; top: 60%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    color: #fff;
    font-family: "GT Sectra Display Bold";
    z-index: 110;
}
.aboutMe .img-text p::before {
    content: '';
    position: absolute;
    left: -4vw; top: 4vw;
    width: 1.8vw; height: 0.2vw;
    background: #fff;
}
.aboutMe .img-text p span {
    display: block;
}
/* .aboutMe .img-wrap {width: 100%;}
.aboutMe .img-wrap img {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 37vw; height: 37vw;
    background-image: url(../img/about01.png) nowrap center center;
}
.aboutMe .img-wrap figcaption {
}
.aboutMe .img-wrap figcaption p {
    position: absolute;
    left: 23.9%; top: 60%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    color: #fff;
    font-family: "GT Sectra Display Bold";
}
.aboutMe .img-wrap figcaption p::before {
    content: '';
    position: absolute;
    left: -4vw; top: 4vw;
    width: 1.8vw; height: 0.2vw;
    background: #fff;
}
.aboutMe .img-wrap p span {
    display: block;
} */

/* slider */
.img-wrap {
    width: 37vw; height: 37vw;
    overflow: hidden;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.slider-img {
    display: flex;
    position: relative;
    
}
.slider-img .slider {
    width: 37vw; height: 37vw;
}
.slider-img .slider img {
    width: 37vw; height: 37vw;
}
.slider-btn a {
    position: absolute; top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    padding: 1.5vw;
    background: rgba(0,0,0,0.5);
    text-transform: capitalize;
    font-family: var(--font-cafe);
    color : #fff;
}
.slider-btn a.prev {
    left: 0;
}
.slider-btn a.next {
    right: 0;
}




@media (max-width: 1220px){
    .container {width: 100%;}
}
@media (max-width: 1024px){}
@media (max-width: 960px){}
@media (max-width: 768px){}
@media (max-width: 600px){}
@media (max-width: 300px){
    .aboutMe .img figcaption p {left: 22%; top: 52.5%;}
}